<h4 class="text-center">Contact</h4>

<div class="text-center">
    <address>
        <a href="tel:6037725515">(603) 772-5515</a> or <a href="tel:6037725518">(603) 772-5518</a>
        <br>
        159 Front Street, Exeter NH, 03833
    </address>

    <hr>
    <h4>We Deliver All Day!</h4>
    <hr>

    <!-- Facebook Like Button -->
    <iframe class="social-button social-button-facebook" src="https://facebook.com/plugins/like.php?href=https://facebook.com/PizzaAcademyExeter&layout=button&action=like&show_faces=false"></iframe>
    <!-- Twitter Follow Button -->
    <iframe class="social-button social-button-twitter" src="https://platform.twitter.com/widgets/follow_button.html#screen_name=PizzaAcademyExeter&show_count=false&show_screen_name=false"></iframe>
</div>
