<div class="colophon text-center">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <h4 id="hours">Hours</h4>

                    <table class="table hours-table">
                        <tbody>
                            {% for hour in site.data.hours %}
                                <tr>
                                    <th>{{ hour.days }}</th>
                                    <td class="text-right">{{ hour.time[0] }}</td>
                                    <td class="text-center">&mdash;</td>
                                    <td class="text-left">{{ hour.time[1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <h4 id="contact">Contact</h4>

                    <a href="tel:6037725515">(603) 772-5515</a> or <a href="tel:6037725518">(603) 772-5518</a>
                    <address>159 Front Street, Exeter NH, 03833</address>

                    <hr>

                    <h4>We Deliver All Day!</h4>

                    <hr>

                        <!-- Facebook Like Button -->
                        <iframe class="social-button social-button-facebook" src="https://facebook.com/plugins/like.php?href=https://facebook.com/PizzaAcademyExeter&layout=button&action=like&show_faces=false"></iframe>
                        <!-- Twitter Follow Button -->
                        <iframe class="social-button social-button-twitter" src="https://platform.twitter.com/widgets/follow_button.html#screen_name=PizzaAcademyExeter&show_count=false&show_screen_name=false"></iframe>
                </div>

                <div class="col-lg-4 col-sm-12">
                    <h4>Location</h4>

                    <div class="embed-responsive">
                        <div class="embed-responsive-item" id="location"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
