<div class="modal fade" id="hours">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top:0;">
        <button type="button" class="close" data-dismiss="modal" style="margin-top:-8px;margin-right:-13px;">&times;</button>
        {% include _hours.html %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contact">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top:0;">
        <button type="button" class="close" data-dismiss="modal" style="margin-top:-8px;margin-right:-13px;">&times;</button>
        {% include _contact.html %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="location">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="padding-top:0;">
        <button type="button" class="close" data-dismiss="modal" style="margin-top:-8px;margin-right:-13px;">&times;</button>
        {% include _location.html %}
      </div>
    </div>
  </div>
</div>
