---
---

/****************************************************************
 * Global
 ****************************************************************/
* {
    font-family: Ovo, Georgia, 'Times New Roman', Times, serif;
    border-radius: 0 !important;
}

html,
body {
    height: 100%;
}

body {
    background-color: #260000;
    background-image: url(../img/brick.png);
}

a,
a:hover,
a:focus {
    color: #921;
}

small {
    color: #921;
}

.img-thumbnail {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.close {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.balance-text {
    text-wrap: balanced;
}

.embed-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.embed-square {
    padding-bottom: 75%;
}
.embed-responsive iframe,
.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}




/****************************************************************
 * Sidebar
 ****************************************************************/
.sidebar {
    background-color: #111;
    background-image: url(../img/leather.png);
    box-shadow: 0 0 20px #111;

    /**
    background-image: url(//cdn.madebyglutard.com/libs/subtlepatterns/0.0.0/broken_noise.png);
    border: 0;
    border-left: 10px solid #e9c78d;
    border-image: url(//cdn.madebyglutard.com/libs/subtlepatterns/0.0.0/purty_wood.png) 20 20 20 20 repeat;
    /**/
}

.sidebar-header {
    position: relative;
}
.sidebar-brand {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-family: Arvo;
    text-align: center;
    text-transform: uppercase;
}

.sidebar-toggle {
    position: absolute;
    top: 10px; right: 10px;
    padding: 0 4px;
    width: 30px; height: 26px;
    background: transparent;
    border: 1px solid #fff;
}
.sidebar-toggle .icon-bar {
    margin: 4px 0;
    height: 2px;
    background-color: #fff;
}

.sidebar-nav-item {
    //border-left: 4px solid transparent;
}

.sidebar-nav-item a {
    color: #fff;
    background-color: transparent !important;
}
.sidebar-nav-item:hover,
.sidebar-nav-item:focus {
    background-color: #333;
    border-color: #921;
    box-shadow: inset 0 0 12px #111;//rgba(0,0,0,0.6);

    /**
    background: none;
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    /**/
}
.sidebar-nav-item.active {
    background-color: #921;
    border-color: #921;
    box-shadow: inset 0 0 12px #111;//rgba(0,0,0,0.6);
}

/*@media (min-width: 1024px) {*/
@media (min-width: 992px) {
    .sidebar {
        position: fixed;
        top: 0; right: 0; bottom: 0;
        width: 240px;
    }
    .sidebar-header {
        padding: 15px;
    }
    .sidebar-toggle {
        display: none;
    }
    .sidebar-collapse {
        display: block;
    }
}




/****************************************************************
 * Content
 ****************************************************************/
.content {
    padding: 10px;
}
.content > .panel {
    margin-bottom: 0;
}

/*@media (min-width: 1024px) {*/
@media (min-width: 992px) {
    .content {
        margin-right: 240px;
        padding: 60px;
        height: 100%;
        overflow: auto;
    }
}


.specials-board {
    padding: 10px 15px;
    background-color: #000;
    background-image: url(//cdn.madebyglutard.com/libs/subtlepatterns/0.0.0/broken_noise.png);
    border: 10px solid #e9c78d;
    border-image: url(//cdn.madebyglutard.com/libs/subtlepatterns/0.0.0/purty_wood.png) 20 20 20 20 repeat;
    box-shadow: 0 0 10px #000, inset 0 0 10px #000;
    color: #fff;
    text-align: center;
}
.specials-board * {
    font-family: 'Comic Sans MS';
}
.specials-header {
    margin-top: 10px;
    margin-bottom: 10px;
}
.specials-item {
    position: relative;
    margin-top: 30px;
}
.specials-item::before {
    content: '';
    position: absolute;
    top: -15px; right: 0; left: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}


.menu-table {

}
.menu-header {
    width: 100%;
}
.menu-title {
    margin: 0;
}
.menu-table > tbody > tr > td {
    border-top: none;
    border-bottom: 1px dotted #ddd;
}




/****************************************************************
 * Colophon
 ****************************************************************/
.colophon {
    margin-top: 30px;
    margin-bottom: -10px;
}
.colophon > .panel {
    margin-bottom: 0;
}


/*@media (min-width: 1024px) {*/
@media (min-width: 992px) {
    .colophon {
        margin-top: 60px;
        margin-bottom: -60px;
    }
}


.hours-table {
    margin-bottom: 0;
}
.hours-table > tbody > tr > th {
    width: 100%;
}
.hours-table > tbody > tr > th,
.hours-table > tbody > tr > td {
    padding: 2px;
    border-top: none;
    border-bottom: 1px dotted #ddd;
}


.social-button {
    height: 20px;
    border: 0;
}
.social-button-facebook {
    width: 48px;
}
.social-button-twitter {
    width: 60px;
}

.gmnoprint,
.gm-style-cc {
    display: none;
}




/****************************************************************
 * Footer
 ****************************************************************/
.footer {
    padding: 10px 30px;
    background-color: #111;
    background-image: url(../img/leather.png);
    box-shadow: 0 0 20px #111;
    color: #fff;
}
.footer a {
    float: right;
}

/*@media (min-width: 1024px) {*/
@media (min-width: 992px) {
    .footer {
        position: fixed;
        right: 0; bottom: 0;
        width: 240px;
        text-align: center;
    }
    .footer a {
        float: none;
        display: block;
    }
}
