---
layout: default
title: Home
permalink: /
weight: 1
---

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1 style="font-family:Arvo;text-transform:uppercase;">
                    {{ site.title }}
                    <small class="show">{{ site.tagline }}</small>
                </h1>
            </div>
            <div class="panel-body">
                <h4><a href="{{ site.github.url }}/menu/">View our Menu</a></h4>

                <hr>

                <div class="row">
                    <div class="col-sm-6">
                        <h4 id="hours">Hours</h4>

                        <table class="table hours-table">
                            <tbody>
                                {% for hour in site.data.hours %}
                                    <tr>
                                        <th>{{ hour.days }}</th>
                                        <td class="text-right">{{ hour.time[0] }}</td>
                                        <td class="text-center">&mdash;</td>
                                        <td class="text-left">{{ hour.time[1] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-6">
                        <h4 id="contact">Contact</h4>

                        <a href="tel:6037725515">(603) 772-5515</a> or <a href="tel:6037725518">(603) 772-5518</a>
                        <address>159 Front Street, Exeter NH, 03833</address>

                        <hr>

                        <h4>We Deliver All Day!</h4>

                        <hr>

                        <!-- Facebook Like Button -->
                        <iframe class="social-button social-button-facebook" src="https://facebook.com/plugins/like.php?href=https://facebook.com/PizzaAcademyExeter&layout=button&action=like&show_faces=false"></iframe>
                        <!-- Twitter Follow Button -->
                        <iframe class="social-button social-button-twitter" src="https://platform.twitter.com/widgets/follow_button.html#screen_name=PizzaAcademyExeter&show_count=false&show_screen_name=false"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="specials-board">
            <h3 class="specials-header">Specials</h3>

            {% for special in site.data.specials %}
                <div class="specials-item">
                    <h4>{{ special.name }}</h4>
                    <div class="balance-text">{{ special.detail }}</div>
                    <h5>{{ special.price }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
