---
layout: compress
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="og:image" content="{{ site.url }}/assets/img/open-graph.jpg">
    <title>{{ site.title }} &middot; {{ site.tagline }}</title>

    <link rel="icon" href="{{ site.url }}/favicon.ico">
    <link rel="sitemap" href="{{ site.url }}/sitemap.xml">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ovo|Arvo:700">
    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/default.css">
</head>
<body>
    {% include sidebar.html %}

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include modals.html %}


    <script src="//cdn.madebyglutard.com/libs/moment/2.7.0/moment.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/balance-text/1.3.0/jquery.balancetext.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB5T9CPkiuk1eq-BThAm7N6MSlyotrSeN8&sensor=false"></script>
    <script src="{{ site.url }}/assets/js/default.js"></script>
</body>
</html>
