<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }} &middot; {{ site.tagline }}</title>

    <link rel="icon" href="{{ site.github.url }}/favicon.ico">
    <link rel="sitemap" href="{{ site.github.url }}/sitemap.xml">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato|Ovo|Arvo:700">
    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/public/css/default.css">

    <script>
        // Analytics
    </script>

    <script src="//cdn.madebyglutard.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/moment/2.6.0/moment.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/balance-text/1.3.0/jquery.balancetext.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB5T9CPkiuk1eq-BThAm7N6MSlyotrSeN8&sensor=false"></script>
    <script src="{{ site.github.url }}/public/js/default.js"></script>
</head>
<body>
    {% include sidebar.html %}

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}
</body>
</html>
