---
layout: compress
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% seo %}

  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <link rel="sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ovo|Arvo:700">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/default.css" | prepend: site.baseurl }}">

  <script async src="https://google-analytics.com/analytics.js" onload="ga('create','UA-39995938-4'),ga('send','pageview')"></script>
</head>
<body>
  {% include sidebar.html %}
  <div class="content">
    {{ content }}
  </div>
  {% include footer.html %}
  {% include modals.html %}

  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.fp.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.balancetext/1.6.0/jquery.balancetext.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5T9CPkiuk1eq-BThAm7N6MSlyotrSeN8"></script>
  <script src="{{ "/assets/js/default.js" | prepend: site.baseurl }}"></script>
</body>
</html>
